
/* Header */
.b-header-branding {
    text-decoration-color: 30px;

}

.b-bg-primary {
    background-color: #62B0E8;
}

h1 {
    font-family: "Libre Baskerville", serif;
}

p {
    font-family: "Source Sans Pro", sans-serif;
}


.b-sticky {
position: -webkit-sticky;
position: sticky;
top: 20px;
}

.b-cover {
    object-fit: cover;
}